/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  margin-bottom: 40px;
  min-height: max(668px, 100vh);
  padding: 10px 10px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.rec__container {
  position: absolute;
  right: 20px;
  top: 10px;
  visibility: var(--decor-visibility, visible);
}

.rec__container::before {
  position: absolute;
  content: "rec";
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  top: 0px;
  right: 20px;
}

.rec__container::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  top: 10px;
  right: 0;
}

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  justify-items: right;
  row-gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  text-transform: lowercase;
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  height: 26px;
}

.header__title {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: var(--title-color) 4px 4px;
  justify-self: start;
}

.title-decor {
  background-color: var(--title-color);
}

.title__container {
  align-self: center;
  margin-left: auto;
  width: max(calc(50vw - 20px), 355px);
}

.title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--section-header-color);
}

.section__header {
  color: var(--accent-color);
}

.article__header {
  margin-bottom: 10px;
}

.advice__header {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
}

.main {
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  display: grid;
  gap: 20px;
  margin-bottom: 50px;
}

.section__list {
  display: grid;
  gap: 20px;
}

.section:last-child {
  margin-bottom: 40px;
}

.gallery__section {
  gap: 0px;
}

.article__body {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: var(--text-color);
}

.article__link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 1px var(--link-shadow);
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.image__fit {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.image:nth-child(1) {
  height: 142px;
}

.image:nth-child(2) {
  height: 355px;
}

.image:nth-child(3) {
  height: 237px;
}

.image:nth-child(4) {
  height: 355px;
}

.image:nth-child(5) {
  height: 237px;
}

.footer {
  min-height: max(668px, 100vh);
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: var(--title-color) 4px 4px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.article__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  border: 1px solid var(--text-color);
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec__container {
    right: 30px;
    top: 20px;
  }

  .rec__container::before {
    top: 0px;
    right: 20px;
  }
  
  .rec__container::after {
    top: 10px;
    right: 0;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    margin-bottom: 80px;
  }

  .input__section {
    grid-template-columns: 1fr 2fr;
  }

  .input__section .title {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
  }
  
  .article {
    grid-column-start: 2;
  }

  .question__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .question__section article {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .advice__section {
    grid-template-columns: 1fr 2fr;
  }

  .section:last-child {
    margin-bottom: 60px;
  }

  .gallery__section {
    gap: 10px;
  }

  .gallery {
    align-self: center;
    justify-self: center;
    gap: 20px;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 190px 230px auto;
  }
  
  .image:nth-child(1) {
    width: 479px;
    height: 192px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .image:nth-child(2) {
    width: 230px;
    height: 441px;
  }
  
  .image:nth-child(3) {
    width: 229px;
    height: 569px;
  }
  
  .image:nth-child(4) {
    width: 230px;
    height: 230px;
  }
  
  .image:nth-child(5) {
    width: 479px;
    height: 318px;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding-left: 20px;
  }

  .header__title {
    line-height: 129.53px;
  }

  .section {
    column-gap: 10px;
  }

  .question__section {
    gap: 20px;
  }

  .question__section article {
    grid-row-start: 2;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  .gallery {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px auto;
  }
  
  .image:nth-child(1) {
    width: 649px;
    height: 260px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .image:nth-child(2) {
    width: 315px;
    height: 595px;
  }
  
  .image:nth-child(3) {
    width: 315px;
    height: 769px;
  }
  
  .image:nth-child(4) {
    width: 315px;
    height: 315px;
  }
  
  .image:nth-child(5) {
    width: 649px;
    height: 432px;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer__title {
    line-height: 129.53px;
  }
}