/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-color: #DB00FF;
  --title-color: #FF0070;
  --accent-color: #FF0070;
  --link-shadow: #FF0070;
  --text-color: #000028;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}